body {
  background: rgb(231, 255, 253);
  background: radial-gradient(
    circle,
    rgba(231, 255, 253, 0.5673352435530086) 2%,
    rgba(33, 120, 140, 0.26327944572748263) 12%,
    rgba(114, 206, 201, 0.7897727272727273) 58%,
    rgba(91, 112, 120, 0.3607954545454546) 89%
  );
  font-family: "Comfortaa", sans-serif;
}
header {
  border-bottom: 1px solid;
  padding: 0 0 30px 0;
}
a {
  color: puple;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.08);

  border-radius: 16px;
}
.search-input {
  background-color: #b6cbcd28;
  border: none;
  border-radius: 6px;
  width: 70%;
  padding: 15px 20px;
}
.search-button {
  background-color: #aadada;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: black;
  margin-left: 5px;
  font-size: 16px;
}
footer {
  border-top: 1px solid;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: black;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0px;
}
.weather-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.weather-details strong {
  color: pink;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.current-temp {
  display: flex;
}
.temp {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}
.icon {
  font-size: 44px;
  margin-top: 22px;
}
.unit {
  margin-top: 16px;
  font-size: 28px;
}
